version: "3.8"

services:
  solr:
    image: solr:9
    container_name: solr
    command:
      - solr-precreate
      - files
    ports:
      - "8983:8983"
    volumes:
      - ./data/solrdata:/var/solr
    restart: always

  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: files_db
    ports:
      - "5432:5432"
    volumes:
      - ./data/pgdata:/var/lib/postgresql/data
    restart: always

  neo4j:
    image: neo4j:5
    container_name: neo4j
    environment:
      NEO4J_AUTH: neo4j/password
      NEO4J_dbms_security_auth__enabled: "true"
    ports:
      - "7474:7474"
      - "7687:7687"
    volumes:
      - ./data/neo4j:/data
    restart: always

  api:
    build: ./backend
    container_name: fastapi
    depends_on:
      - solr
      - postgres
      - neo4j
    environment:
      SOLR_URL: "http://solr:8983/solr/files"
      DATABASE_URL: "postgresql://admin:admin@postgres:5432/files_db"
      NEO4J_URL: "bolt://neo4j:7687"
      NEO4J_USER: "neo4j"
      NEO4J_PASSWORD: "password"
      UPLOAD_DIR: "/app/uploads"
      ARCHIVE_DIR: "/app/archive"
      OPENAI_API_KEY: "API KEY HERE"
      EMBEDDING_MODEL: "text-embedding-3-small"
      VECTORSTORE_PATH: "/app/vectorstore/faiss.index"
    volumes:
      - ./data/uploads:/app/uploads
      - ./archive:/app/archive
      - ./data/vectorstore:/app/vectorstore
    ports:
      - "8000:8000"
    restart: always
